
@model Library_Example.Models.Checkout.CheckoutModel
@*@model is the model directive*@


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Checkout Library Item</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <p id="itemTitle">@Model.Title</p>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            @*you could also use tag helpers.*@
            <div class="col-md-9">
                <form asp-controller="Catalog" asp-action="PlaceCheckout" asp-route-id="@Model.AssetId, @Model.LibraryCardId" method="post">
                    @Html.HiddenFor(a => a.AssetId)
                    <div class="col-md-4">

                        Please insert a Library Card ID.
                        <input asp-for="LibraryCardId" class="form-control" />
                        <span asp-validation-for="LibraryCardId" class="text-danger" />
                    </div>
                    <div class="col-md-4" style="margin: 90px 0em 0em -18em">
                        <button id="CheckoutBtn" type="submit" class="btn btn-success btn-lg">Check out</button>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>

